<!doctype html>
<html lang="en">
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <title>MTurk HIT Login</title>
</head>
<body bgcolor="aqua">
<form name="passdata" action="/login" method="post">
    <label class="vertical">Sex:</label>
    <input list="browser" name="sex" class="vertical">
    <datalist id="browser">
        <option value="MALE">
        <option value="FEMALE">
    </datalist>
    <label class="vertical">Age:</label>
    <input type="text" name="age" class="vertical">
    <label class="vertical">Display:</label>
    <input list="browsers" name="display" class="vertical">
    <datalist id="browsers">
        <option value="TFT LCD">
        <option value="IPS LCD">
        <option value="S-LCD">
        <option value="Amoled">
        <option value="SuperAmoled">
        <option value="Retina">
        <option value="Triluminos">
        <option value="Other">
    </datalist>
    <label class="vertical">Distance from display: (in inch)</label>
    <input type="range" name="distance" min="0" value="0" max="100"
           oninput="document.getElementById('q').innerHTML=this.value" class="vertical">
    <div id="box" class="vertical">
        <label id="q" class="vertical"></label>
    </div>
    <input type="submit" value="Submit" class="vertical">
</form>
<h4 class="vertical">{{error}}</h4>
<form id="endForm" action="{{ name.amazon_host }}" method="POST">
    <input type="hidden" id="assignmentId" value="{{ name.assignment_id }}" name="assignmentId"/>
    <input type="hidden" id="workerId" value="{{ name.worker_id }}" name="workerId"/>
    <input type="hidden" id="hitId" value="{{ name.hit_id }}" name="hitId"/>
    <input type="hidden" id="turkSubmitTo" value="{{name.turk_submit_to}}" name="turkSubmitTo">
</form>
</body>
</html>